@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

/* utility classes  */

.loccontet{
    height: 114px;
    display: grid;
    place-items: center;
}

.loccontet .h3center{
    text-align: center;
    font-size: 2rem;
}

.h1center{
    width: 100%;
    height: 200px;
    display: grid;
    place-items: center;
}

.primary-1{
    text-align: center;
    font-size: 2.8rem;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background: white;
}


/* home ki style  */

#home-bg
{
   width: 100%;

}

#home-bg .homebg{
    width: 98%;
    height: 700px;
    margin: auto;
}

#home-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    overflow: hidden;

}

#somet
{
width: 100%;


}
#somet .childtex{
    width: 89%;
    height:900px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#somet .box{
    width: 100%;
    text-align: center;

}

#somet .box-1 h1
{
    word-spacing: 3px;
    letter-spacing: 2px;
    line-height: 100px;
    font-size: 39px;
    font-family: 'Montserrat', sans-serif;
}

#somet .box-1 h3{
    word-spacing: 3px;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;

}



#somet .box-2 p{
    display: block;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
}


#somet .box-3 h3{
    word-spacing: 3px;
    line-height: 50px;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
}


#somet .box-4 button{
    word-spacing: 3px;
    padding: 22px 39px;
    background: transparent;
    border: 2px solid black;
    border-radius: 3px;
}

#somet .box-4 button:hover{
    background: black;
    color: white;
}


   /* SOME KI STY HO RAHA HAI */



#somea{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}


#somea .sombox{
    width: 98%;
    height: 100%;
  position: absolute;
  top: 10px;


}

#somea .sombox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    overflow: hidden;

}

#somea .sombox-2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#somea .sombox-2 .somboxtext{
    width: 90%;
    height: 100%;


}

#somea .sombox-2 .somboxtext p{
    text-align: center;
    font-size: 2.4rem;
    color: blanchedalmond;
    letter-spacing: 2px;

}

#somea .sombox-2 .somboxtext p span{
    font-size: 12px;
}



/* box skill ki style ho raha hai  */

#skillap{
    width: 100%;
    position: relative;

}


/* 
#skillap .skilloh span{
    text-align: center;
    font-size: 2.8rem;

} */

#skillap .skillbox{
    width: 100%;
    /* height: 1000px; */
   

}

#skillap .skillbox .skillbox-1{
   width: 86%;
   height: 100%;
   display: grid;
   grid-template-columns: repeat(2, 50%);
   grid-gap: 2rem;

}

#skillap .skillbox .skillbox-1 .box{
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-rows: repeat(3, auto);
}

#skillid .box .ima{

}

#skillid .box .ima img{
    width: 100%;
    background-position: center;
    object-fit: cover;
}

#skillid .box .content{
}

#skillid .box .content span{
    display: block;
    margin: 16px 0;
    font-size: 2rem;
    letter-spacing: 3px;
    word-spacing: 13px;
    

}

#skillid .box .content p{
   margin-right: 8rem;
   line-height: 33px;
   color: #969494;
  

}



/* location ki style ho raha hai */

#location{

}

#location .lucationmain{
    width: 100%;

}

#location .lucationmain .mainluction{
    width: 87%;
   height: 100%;
   display: grid;
   grid-template-rows: repeat(2, auto);
   grid-gap: 2rem;
}


#mainluctionb .locbox-1{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 2rem;
}

#mainluctionb .locbox-1 .locbox-1s{
    display: grid;
   grid-template-rows: repeat(2, auto);
   cursor: pointer;
}

#mainluctionb .locbox-1 .locbox-1s .locimg img{
    width: 100%;
    background-position: center;
    object-fit: cover;
}





#mainluctionb .locbox-2{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 2rem;
}

#mainluctionb .locbox-2 .locbox-2s{
    display: grid;
   grid-template-rows: repeat(2, auto);
   cursor: pointer;
}

#mainluctionb .locbox-2 .locbox-2s .locimg img{
    width: 100%;
    background-position: center;
    object-fit: cover;
}


   /* Gallary ki style ho raha hai */

 #gallerybox
 {
     width: 100%;
     /* height: 1600px; */
 }  

 #gallerybox .gallerymain{
     width: 94.6%;
     height: 100%;
     margin: 30px auto;
     display: grid;
     grid-template-columns: repeat(2, auto);
     grid-gap: 2rem;
 }

 #gallerybox .gallerymain .gallary-1{
     position: relative;
 }

 #gallerybox .gallerymain .gallary-1::after{
     content: "";
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 5;
     background-color: white;
     opacity: 0;
    
 }

 #gallerybox .gallerymain .gallary-1:hover:after{
    opacity: 0.3;
 }

 #gallerybox .gallerymain .gallary-1 img{
     width: 100%;
     height: 100%;
     background-position: center;
     object-fit: cover;
 }

 #gallerybox .gallerymain .gallary-2{
     display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: 2rem;
 }

 #gallerybox .gallerymain .gallary-2 .gallsbox-1{
    position: relative;
 }

 #gallerybox .gallerymain .gallary-2 .gallsbox-1::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: white;
    opacity: 0;

 }

 #gallerybox .gallerymain .gallary-2 .gallsbox-1:hover:after{
     opacity: 0.3;
 }

 #gallerybox .gallerymain .gallary-2 .gallsbox-2{
     position: relative;
 }

 #gallerybox .gallerymain .gallary-2 .gallsbox-2::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: white;
    opacity: 0;

 }

 #gallerybox .gallerymain .gallary-2 .gallsbox-2:hover:after{
     opacity: 0.3;

 }

 #gallerybox .gallerymain .gallary-2 .gallsbox-1 img{
    width: 100%;
    background-position: center;
    object-fit: cover;
 }
 #gallerybox .gallerymain .gallary-2 .gallsbox-2 img{
    width: 100%;
    background-position: center;
    object-fit: cover;
 }

